body{
    background-image: url("images/nza_background.jpg");
    background-position: center center; 
    background-size: 100% 100%;
    display: flex;
    justify-content: center;    
     align-items: center;
    
}
.body{
    background-color: rgb(255, 255, 255);
    border-style: ridge;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}
nav{
    border-style: solid;
    border-top-color: black;
    border-bottom-color: black;
    border-left-color: white;
    border-right-color: white;
}
.top{
    border-style: solid;
    border-top-color:white;
    border-bottom-color:white;
    border-left-color: lightgray;
    border-right-color: lightgray;
    border-width: 1px;
}
ul {
    list-style-type: none;
    color:#000000;
  }
  ul li:before {
    content: '\2014';
    position: absolute;
    margin-left: -10px;
  }
header{
    height: 150px;
    display: flex;
    justify-content: space-between!important;
}
#maintext{
    background-image: url(images/nav_side_sub.jpg);
    background-size: cover;
    border-color: white;
    border: 1px black solid;
} 

.li-w-w-w li:before{
    content: normal !important;
}

ul.li-w-w-w{
    padding: 0;
    margin: 0;
}

li.list-inline-item.col-3{
    padding: 0;
    margin: 0;
}

.nav-li-w-w-w{
    color: white;
}

.nav-w-w-d{
    padding:5px;
}

div.row{
    padding-top: 15px;
    padding-bottom: 15px;
}

div.col-9.row-6{
    padding-left: 15px;
}

div.w-w-w-text{
    margin-bottom: 15px;
}

div#maintext.w-w-w-sidebar{
    height: 275px;
}

li.col-3{
    padding-left: 0;
    margin-right: 8%;
}

p.text-uppercase{
    margin-top:16px;
}